<form class="form-group">
    <fieldset class="border">
        <legend>Pesquisar por:</legend>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-2">
                    <button type="button" class="btn btn-light">Nome</button>
                    <button type="button" class="btn btn-light">Numero</button>

                </div>
                <div class="col-sm-6">
                    <label for=" Filtro: Informe as iniciais do leitor a ser consultado"> Filtro: Informe as iniciais do leitor a ser consultado</label>
                    <input type="text" placeholder="" name="" required class="form-control">  <button onclick="validaCadastro()">OK</button>
                    <br/>
                    <input type="checkbox" class="form-check-input" id="exampckbNomeleCheck">
                    <label class="form-check-label" for="cbkNome">Consultar por partes do nome informado</label>
                </div>
            </div>

</form>