<form class="form-group">
 <input class="form-control">

<fieldset>
    
    <div class="container-fluid">
        <center>
                    <legend>Informações Pessoais</legend>
         </center>
                    <label for="nome">Nome-Usuario: </label>
                    <input type="text" id="nome" placeholder="">
                    <br>
                    <label for="sobrenome">Senha: </label>
                    <input type="text" id="Senha" placeholder="Informe sua senha.">
                    <br>
                    <button onclick="validaCadastro()">Logar</button>
                    <button onclick="validaCadastro()">Redefinir Senha</button>
                    <br>
     
</div>

</form>